<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layouts/blank">
<head>
  <meta charset="UTF-8">
  <title>dauhunon</title>
</head>
<body class="bg-white">
  <div layout:fragment="content">
    <div th:if="${param.logout != null or param.error != null}"
      class="alert d-flex align-items-center alert-dismissible fade show"
      th:classappend="${param.logout != null ? 'alert-success' : 'alert-danger'}"
      role="alert">
      <div class="me-2">
        <i class="fas fa-check-circle fa-lg" th:if="${param.logout}"></i>
        <i class="fas fa-exclamation-triangle fa-lg" th:if="${param.error}"></i>
      </div>
      <div>
        <strong th:if="${param.logout}">You've just logged out success</strong>
        <strong th:if="${param.error}">The email or password may be not correct</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>

    <div class="jumbotron bg-light shadow-sm rounded p-5">
      <form action="/login" method="post"
        onsubmit="return verifyLogin()"
        id="loginForm" name="loginForm">
        <h4 class="text-center">Login</h4>

        <div class="form-group mb-3">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" class="form-control" autofocus />
        </div>

        <div class="form-group mb-3">
          <label for="password">Password:</label>
          <div class="input-group mb-3">
            <input type="password" id="password" name="password" class="form-control pwd" />
            <button type="button" class="input-group-text" id="showPwd">
              <i class="fas fa-eye"></i>
            </button>
          </div>
        </div>

        <div class="form-group mb-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="rememberMe" name="remember-me" checked>
            <label class="form-check-label" for="rememberMe">Remember me</label>
          </div>
        </div>

        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary btn-block">Submit</button>
          <a th:href="@{/forget-password}" class="btn btn-block text-info">Forget password?</a>
        </div>
      </form>

      <div class="form-group text-center mt-3">
        <span class="text-secondary">Don't have an account
          <a th:href="@{/register}" class="text-info">register now</a>
        </span>
      </div>
    </div>
  </div>
</body>
</html>





