<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/blank">

  <div th:if="${actionFailed}" th:fragment="actionFailed" class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert">
    <div class="me-2">
      <i class="fas fa-exclamation-triangle fa-lg"></i>
    </div>
    <div>
      <strong>[[${actionFailed}]] </strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>

  <div th:if="${actionSuccess}" th:fragment="actionSuccess" class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
    <div class="me-2">
      <i class="fas fa-check-circle fa-lg"></i>
    </div>
    <div>
      <strong>[[${actionSuccess}]] </strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
</html>