<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/blank">
<head>
    <meta charset="UTF-8">
    <title>403</title>
</head>
<body>
  <div layout:fragment="content">
    <div class="jumbotron bg-light position-absolute top-50 start-50 translate-middle p-3 shadow-sm rounded d-flex align-items-center">
      <img th:src="@{/images/stop.png}" alt="">
      <div class="ms-3">
        <h4 class="text-center">403</h4>
        <p>Do not allowed</p>
      </div>
  </div>
</body>

</html>