<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/main">
<head>
  <meta charset="UTF-8">
  <title>dauhunon</title>
</head>
<body>
<div layout:fragment="content">
  <!-- Main content -->
  <div class="bg-light py-3">
    <!-- Filter -->
    <div class="d-flex justify-content-between align-items-center px-3">
      <div class="d-flex align-items-center">
        <div class="d-flex align-items-center me-2">
          <span for="filter" class="me-2">Filter</span>
          <select class="form-select form-select-sm" name="filter" id="filter" onchange="window.location=this.options[this.selectedIndex].value">
            <option
              th:each="f : ${filters}"
              th:value="@{'/products' +
                            '?page=1' +
                            '&sortField=' + ${sortField} +
                            '&sortDir=' + ${sortDir} +
                            '&recordNumber=' + ${recordNumber} +
                            '&filter=' + ${f.key} +
                            '&keyword=' + ${keyword}}"
              th:text="${f.value}"
              th:selected="${f.key==filter}">
            </option>
          </select>
        </div>
        <div class="d-flex align-items-center">
          <span for="entities" class="me-2">Show</span>
          <select name="recordNumber" class="form-select form-select-sm" onchange="window.location=this.options[this.selectedIndex].value">
            <option th:each="i : ${#numbers.sequence(5, 20, 5)}" th:text="${i}"
                    th:value="@{'/products' +
                                  '?page=1' +
                                  '&sortField=' + ${sortField} +
                                  '&sortDir=' + ${sortDir} +
                                  '&recordNumber=' + ${i} +
                                  '&filter=' + ${filter} +
                                  '&keyword=' + ${keyword}}"
                    th:selected="${i==recordNumber}"></option>
            <span for="entities" class="ms-2">entities</span>
          </select>
        </div>
      </div>
    </div>

    <div class="mx-3 my-5">
      <div class="d-flex flex-wrap">
        <div
          th:each="product : ${listProducts}">
          <img th:src="${product.imageUrl}" class="card-img-top" alt="image_product" width="200">
          <h5 class="my-2" th:text="${product.thumbnail}"></h5>
          <div class="d-flex mt-2">
            <b class="me-2" th:text="${product.price}"></b>
            <small class="bg-danger p-1 text-white rounded" th:text="${product.discount}"></small>
          </div>
          <button
            class="btn btn-warning"
            th:data-thing="'/cart/' + ${product.id}">Buy now</button>
        </div>
      </div>
    </div>

  </div>
</div>

<th:block layout:fragment="script">
  <script th:src="@{/js/product.js}"></script>
</th:block>
</body>
</html>